[submodule "third_party/alexforencich_ethernet"]
	path = third_party/alexforencich_ethernet
	url = https://github.com/sifferman/alexforencich_ethernet.git
	branch = rmii
[submodule "third_party/cocotbext-eth"]
	path = third_party/cocotbext-eth
	url = https://github.com/sifferman/cocotbext-eth.git
	branch = rmii
[submodule "third_party/wangxuan95_sdcard"]
	path = third_party/wangxuan95_sdcard
	url = https://github.com/WangXuan95/FPGA-SDcard-Reader
[submodule "third_party/ultraembedded_axi_sdram_controller"]
	path = third_party/ultraembedded_axi_sdram_controller
	url = https://github.com/ultraembedded/core_sdram_axi4
